.left-half {
  position: absolute;
  left: 100px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.left {
    float:left;
    width:33%;
}

.center {
    display: inline-block;
    margin:0 auto;
    width:33%;
}

.right {
    float:right;
    width:33%;
}

.dropbtn {
    background-color: #DCDCDC;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    display: block;
}

.dropdown {
    position: relative;
    display: block;
    background-color: #DCDCDC;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.workproduct-content {
    background-color: #DCDCDC;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 16px;
    border: none;
    display: block;
}

.workproduct-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.states-done {
    background-color: #00FF00;
}

.after-method {
    visibility: hidden;
}

.after-next {
    visibility: hidden;
}

.after-activity {
    visibility: hidden;
}

.workproduct-content a:hover {background-color: #A9A9A9;}

.dropdown-content a:hover {background-color: #A9A9A9;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #A9A9A9;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    position: relative;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    display: block;
    color: white;
}

.dropdown a:hover {background-color: #ddd;}

body {font-family: Arial, Helvetica, sans-serif;}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.project {
    font-family : "Times New Roman";
    font-size: 17pt;
    color: black;
    text-transform: uppercase;
}

.title-home {
    font-size: 30pt;
}

.btn-new-project {
    width: 300px;
    height: 70px;
    color: black;
    background-color: white;
    border: 2px solid #008CBA;
    font-size:  17pt;
    position: relative;
    top: 200px;
}

.btn-new-project:hover {
    background-color: #008CBA;
    color: white;
}

.project-box {
    font-size: 25pt;
}

.left-project {
    position: absolute;
    width: 25%;
    left: 300px;
}

.right-project {
    position: absolute;
    right: 300px;
    width: 25%;
}

.div-list-project {
    position: relative;
    left: 350px;
}

.btn-new-method {
    width: 150px;
    height: 50px;
    color: black;
    background-color: white;
    border: 2px solid #008CBA;
    font-size:  12pt;
}

.btn-new-method:hover {
    background-color: #008CBA;
    color: white;
}

.list-method {
    font-size: 12pt;
}

.btn-after-activity {
    position: relative;
    left: 350px;
}

.submit_workproduct {
    position: relative;
    left: 350px;
}

.btn-submit {
    position: relative;
    left: 300px;
    width: 150px;
    height: 50px;
    color: black;
    background-color: white;
    border: 2px solid #008CBA;
    font-size: 12pt;
}

.left-monitor {
  position: absolute;
  left: 300px;
  width: 50%;
}

.right-monitor {
  position: absolute;
  right: 0px;
  width: 50%;
}

.activity-monitor {
    position: absolute;
    left: 300px;
    right: 300px;
    top : 1200px;
}

.concern-graph {
    position: relative;
    left: 50px;
}

.alpha-graph {
    position: relative;
    left: 150px;
}